@model AppointmentsDb.ModelsDto.ProfessionalUiDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Professional</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Honorific)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Honorific)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suffix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suffix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailableForAppointments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailableForAppointments)
        </dd>

    

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit")
</p>
